body {
  color: #333;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  line-height: 1em;
  text-rendering: optimizelegibility;
}

a {
  color: #666;
    &link {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
}
