%header.m-header
  %div.m-header-inner
    %h1.m-header-logo
      = link_to image_tag('https://assets.mery.jp/1478023690742/images/logo.a2242142.png', width: "105", height: "30"), root_path
    %ul.m-header-navi.is-non-login
      %li.m-header-navi-menu
        = link_to 'まとめを作る', root_path
      %li.m-header-navi-menu
        = link_to '無料会員登録', root_path
      %li.m-header-navi-menu
        = link_to 'ログイン', root_path
